certifi
charset-normalizer
click
colorama
cycler
dnspython
Flask
Flask-Login
fonttools
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
kiwisolver
lxml
MarkupSafe
multitasking
numpy
packaging
pandas
Pillow
pymongo
pyparsing
python-dateutil
pytz
requests
six
urllib3
Werkzeug
yfinance
zipp
